{% extends 'base.html'%} {% block content%}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="container-fluid">
  <div class="card text-white bg-warning mb-3 mt-3">
    <div class="card-body">
        <h5 class="card-title">Houston,Texas,USA</h5>
        <h6 class="card-subtitle mb-2 text-muted">USA Current Infected : {{iposit}}</h6>
        <h6>Weather data and Positive Cases Correlation of Houston,Texas</h6>
    </div>
  </div>

  <div class="row mt-3">
    <canvas class = "col-4"id="myustempChart" style="width: 100px; height: 400px"></canvas>
    <canvas class = "col-4"id="myushumChart" style="width: 100px; height: 400px"></canvas>
    <canvas class = "col-4"id="myuswinChart" style="width: 100px; height: 400px"></canvas>
  </div>
  <div class="row">
    <canvas
      class = "col-4"id="ustemphumcasesChart"
      style="width: 100px; height: 400px"
    ></canvas>
    <canvas
      class = "col-4"id="uswindhumcasesChart"
      style="width: 100px; height: 400px"
    ></canvas>
    <canvas
      class = "col-4"id="uswindtempcasesChart"
      style="width: 100px; height: 400px"
    ></canvas>
  </div>
</div>

<script>
      var ctx = document.getElementById('myustempChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: {{weather_usdate|safe}},
              datasets: [{
                  label: 'Temperature(%)',
                  backgroundColor:'red',
                  borderColor: 'light red',
                  data: {{weather_ustemp|safe}}
              }]
          },

          // Configuration options go here
          options: {scales: {
             xAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }],
             yAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }]
    }}
    });
</script>

<script>
      var ctx = document.getElementById('myushumChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: {{weather_usdate|safe}},
              datasets: [{
                  label: 'Humidity (%)',
                  backgroundColor:'dark slate blue',
                  borderColor: 'cornflower blue',
                  data: {{weather_ushum|safe}}
              }]
          },

          // Configuration options go here
          options: {scales: {
             xAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }],
             yAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }]
}}
  });
</script>

<script>
      var ctx = document.getElementById('myuswinChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: {{weather_usdate|safe}},
              datasets: [{
                  label: 'Wind Speed(mph)',
                  backgroundColor:'DeepSkyBlue',
                  borderColor: 'sky blue',
                  data: {{weathr_uswin|safe}}
              }]
          },

          // Configuration options go here
          options: {scales: {
             xAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }],
             yAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }]
    }}
  });
</script>

<script>
      var ctx = document.getElementById('ustemphumcasesChart').getContext('2d');
      var dataX = {{weather_ushum|safe}};
      var dataY = {{cthw_case|safe}};
      var dataR = {{weather_ustemp|safe}};

      var chartData = [];
      dataX.map((l, i) => {
          chartData.push({
              x: dataX[i],
              y: dataY[i],
              v: dataR[i]
          })
      })
      // For a bubble chart

      const loadCountryBubbleData = () => new Chart(ctx, {
          type: 'bubble',
          data: {
              datasets: [{
                  label:'Humidity-PositiveCases-Temperature',
                  hoverBorderColor:'green',
                  hoverBackgroundColor:'light green',
                  borderColor: 'rgb(255, 99, 132)',
              data: chartData
          }]
      },options: {
    tooltips: {
               callbacks: {
                   label: function(tooltipItem, chartData) {
                       rLabel = chartData.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].v;
                       return `Humidity(${tooltipItem.xLabel}, Positive Cases ${tooltipItem.yLabel}, Temperature${rLabel})`;
                   }
               }
           },scales: {
             xAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }],
             yAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }]
}
   }
      });
  loadCountryBubbleData();
</script>

<script>
      var ctx = document.getElementById('uswindhumcasesChart').getContext('2d');
      var dataX = {{weather_ushum|safe}};
      var dataY = {{cthw_case|safe}};
      var dataR = {{weathr_uswin|safe}};

      var chartData = [];
      dataX.map((r, i) => {
          chartData.push({
              x: dataX[i],
              y: dataY[i],
              r: dataR[i]
          })
      })
      // For a bubble chart

      const loadCountryBubblData = () => new Chart(ctx, {
          type: 'bubble',
          data: {
              datasets: [{
                  label:'Humidity-PositiveCases-WindSpeed',
                  hoverBorderColor:'green',
                  hoverBackgroundColor:'light green',
                  borderColor: 'rgb(255, 99, 132)',
              data: chartData
          }]
      },

          // Configuration options go here
          options: {scales: {
             xAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }],
             yAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }]
    }}
      });
  loadCountryBubblData();
</script>

<script>
      var ctx = document.getElementById('uswindtempcasesChart').getContext('2d');
      var dataX = {{weather_ustemp|safe}};
      var dataY = {{cthw_case|safe}};
      var dataR = {{weathr_uswin|safe}};

      var chartData = [];
      dataX.map((r, i) => {
          chartData.push({
              x: dataX[i],
              y: dataY[i],
              r: dataR[i]
          })
      })
      // For a bubble chart

      const loadCountrBubbleData = () => new Chart(ctx, {
          type: 'bubble',
          data: {
              datasets: [{
                  label:'Temperature-PositiveCases-WindSpeed',
                  hoverBorderColor:'green',
                  hoverBackgroundColor:'light green',
                  borderColor: 'rgb(255, 99, 132)',
              data: chartData
          }]
      },

          // Configuration options go here
          options: {scales: {
             xAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }],
             yAxes: [{
                 gridLines: {
                     display: true,
                     drawBorder: true,
                     drawOnChartArea: false,
       }
             }]
    }}
      });
  loadCountrBubbleData();
</script>

{% endblock%}
